<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 2px solid #445AFF; border-radius: 10px;">
    <tbody>
        <tr>
            <td style="padding-top: 5px; padding-left: 5px; padding-right: 5px;">
                <table width="590" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <table width="600" border="0" cellspacing="0" cellpadding="0" style="background-color: #445AFF; border-top-left-radius: 5px; border-top-right-radius: 5px;">
                                    <tbody>
                                        <tr>
                                            <td style="padding: 15px; font-family: sans-serif; text-align: center; font-size: 20px; line-height: 120%;">
                                                <p style="color: rgb(255, 255, 255);"> <strong>¡Felicitaciones!</strong> </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="527" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td width="527">
                                                <table width="527" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: sans-serif; font-style: normal; font-weight: 400; font-size: 14px; text-align: justify; color: rgb(98, 98, 98);">
                                                    <tbody>
                                                        <tr>
                                                            <td width="567">
                                                                <br>
                                                                <br>
                                                                <p>Ya has reservado tu cupo para el curso de:</p>
                                                                <p><strong>ENDOCRINOLOGÍA Y DIABETOLOGÍA HOSPITALARIA: DESDE LA CONSULTA A LA UPC</strong></p>
                                                                <p><strong>Fechas importantes que debes saber:</strong></p>
                                                                <ol style="list-style-type: circle;">
                                                                    <li><strong>Domingo 11 de Agosto:</strong> Se liberará el módulo 0</li>
                                                                    <li><strong>Lunes 12 de Agosto:</strong> Se liberarán los módulos 1 y 2</li>
                                                                    <li><strong>Lunes 19 de Agosto:</strong> Se liberarán los módulos 3 y 4</li>
                                                                    <li><strong>Lunes 26 de Agosto:</strong> Se liberarán los módulos 5 y 6</li>
                                                                </ol>
                                                                <p>¡Prepárate para una experiencia de aprendizaje única con expertos en Endocrinología y Diabetología! Aprovecha al máximo las 40 horas pedagógicas diseñadas para mejorar tus prácticas clínicas y conocimientos en el manejo de pacientes con diabetes y patologías endocrinológicas en contextos hospitalarios.</p>
                                                                
                                                                <p>Si tienes dudas o consultas envíanos un correo a <strong>contacto@sinapsisclinica.com</strong></p>
                                                                
                                                                <p>Nos vemos en el curso,</p>
                                                                
                                                                <p style="margin-top: 30px;"><strong>Equipo Sinapsis Clínica</strong></p>
                                                                <a target="_blank" href="https://www.sinapsisclinica.com/">www.sinapsisclinica.com</a>
                                                               
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="550" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <!-- <img style="display: block;" src="https://sinapsisclinica.com/wp-content/uploads/2023/09/Diseno-sin-titulo-1.png" width="550" height="80" alt="" class="CToWUd" data-bit="iit"> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                            </td>
                        </tr>