<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 2px solid #445AFF; border-radius: 10px;">
    <tbody>
        <tr>
            <td style="padding-top: 5px; padding-left: 5px; padding-right: 5px;">
                <table width="590" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <table width="600" border="0" cellspacing="0" cellpadding="0" style="background-color: #445AFF; border-top-left-radius: 5px; border-top-right-radius: 5px;">
                                    <tbody>
                                        <tr>
                                            <td style="padding: 15px; font-family: sans-serif; text-align: center; font-size: 20px; line-height: 120%;">
                                                <p style="color: rgb(255, 255, 255);"> <strong>¡Felicitaciones!</strong> </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="527" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td width="527">
                                                <table width="527" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: sans-serif; font-style: normal; font-weight: 400; font-size: 14px; text-align: justify; color: rgb(98, 98, 98);">
                                                    <tbody>
                                                        <tr>
                                                            <td width="567">
                                                                 <!-- Mensaje principal actualizado -->
                                                                 <div class="header">
                                                                    <h1>¡Bienvenido al X Congreso de Medicina Interna en 5 Minutos!</h1>
                                                                </div>

                                                                <div class="content">
                                                                    <p>¡Ya reservaste tu cupo en el X Congreso de Medicina Interna en 5 Minutos! Nos complace contar contigo en esta edición 10º aniversario, que marca el regreso a la presencialidad en nuestros espacios académicos. A continuación, te compartimos toda la información relevante para tu participación:</p>

                                                                    <h2>Detalle de tu compra</h2>
                                                                    <p><strong>Modalidad de entrada:</strong></p>
                                                                    <ul>
                                                                        <li><strong>Presencial</strong>: Podrás asistir al evento en el hotel y tendrás acceso al módulo precongreso en formato grabado, así como a las grabaciones del día del evento.</li>
                                                                        <li><strong>Online</strong>: Tendrás acceso a las transmisiones en vivo el día del evento, las grabaciones posteriores para que las revises a tu propio ritmo, y al módulo precongreso grabado.</li>
                                                                    </ul>

                                                                    <h2>Evaluación y Certificación</h2>
                                                                    <p>Se otorgarán dos tipos de certificados:</p>
                                                                    <ol>
                                                                        <li><strong>Certificado de Asistencia</strong>: Para quienes completen el módulo precongreso online y participen en al menos el 80% de las actividades durante el evento.</li>
                                                                        <li><strong>Certificado de Aprobación</strong>: Para aquellos que rindan la evaluación posterior al congreso y obtengan una nota de 5,0 o superior en una escala de 1 a 7. La fecha de esta evaluación online se comunicará oportunamente.</li>
                                                                    </ol>

                                                                    <h2>Contacto</h2>
                                                                    <p>Si tienes alguna pregunta o necesitas asistencia, no dudes en escribirnos a <a href="mailto:contacto@sinapsisclinica.com">contacto@sinapsisclinica.com</a>. ¡Estamos aquí para ayudarte!</p>

                                                                    <p>Nos vemos en el congreso, y nuevamente, ¡gracias por ser parte de esta experiencia única de aprendizaje en medicina interna!</p>

                                                                    <p>Saludos cordiales,</p>
                                                                    <p><strong>Equipo de Sinapsis Clínica</strong></p>
                                                                </div>
                                                                <!-- Fin del mensaje principal actualizado -->

                                                                <br><br>
                                                                <p>&copy; 2024 Sinapsis Clínica. Todos los derechos reservados.</p>
                                                                <p><a href="mailto:contacto@sinapsisclinica.com">contacto@sinapsisclinica.com</a></p>
                                                                <a target="_blank" href="https://www.sinapsisclinica.com/">www.sinapsisclinica.com</a>
                                                               
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="550" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <!-- <img style="display: block;" src="https://sinapsisclinica.com/wp-content/uploads/2023/09/Diseno-sin-titulo-1.png" width="550" height="80" alt="" class="CToWUd" data-bit="iit"> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                            </td>
                        </tr>