<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 2px solid #445AFF; border-radius: 10px;">
    <tbody>
        <tr>
            <td style="padding-top: 5px; padding-left: 5px; padding-right: 5px;">
                <table width="590" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <table width="600" border="0" cellspacing="0" cellpadding="0" style="background-color: #445AFF; border-top-left-radius: 5px; border-top-right-radius: 5px;">
                                    <tbody>
                                        <tr>
                                            <td style="padding: 15px; font-family: sans-serif; text-align: center; font-size: 20px; line-height: 120%;">
                                                <p style="color: rgb(255, 255, 255);"> <strong>¡Felicitaciones!</strong> </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="527" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td width="527">
                                                <table width="527" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: sans-serif; font-style: normal; font-weight: 400; font-size: 14px; text-align: justify; color: rgb(98, 98, 98);">
                                                    <tbody>
                                                        <tr>
                                                            <td width="567">
                                                                <br>
                                                                <br>
                                                                <p>Hola,</p>
                                                                <p>Esperamos que te encuentres muy bien. ¡Nos alegra informarte que tu compra del curso <%= nombre_curso %> ha sido exitosa! A continuación, te dejamos las instrucciones para ingresar a la plataforma y comenzar con el curso:</p>
                                                                <p>Todo el material de estudio se encuentra en la web de Sinapsis Clínica. Para acceder, sigue estos pasos:</p>
                                                                <p><strong>Dirígete a <a href="https://sinapsisclinica.com/">Sinapsis</a></strong></p>
                                                                <ol style="list-style-type: circle;">
                                                                    <li>1. Haz clic en "Iniciar Sesión".</li>
                                                                    <li>2. Ingresa tu correo.</li>
                                                                    <li>3. Ingresa tu contraseña (Si deseas cambiarla, haz clic en "Olvidé mi contraseña").</li>
                                                                    <li>4. ¡Listo! Ahora podrás ingresar a tu perfil, donde encontrarás el acceso al curso.</li>
                                                                </ol>
                                                                <p>Te dejamos un video tutorial paso a paso: <a href="https://youtu.be/ccospyEvU84">¿Cómo ingresar a Sinapsis Clínica?</a></p>
                                                                
                                                                <p>Si tienes alguna pregunta o inquietud, no dudes en contactarnos. Estamos aquí para apoyarte en este emocionante proceso educativo. Puedes escribirnos a: <strong>contacto@sinapsisclinica.com</strong> y te ayudaremos a la brevedad.</p>
                                                                
                                                                <p>¡Una vez más, te damos la bienvenida y esperamos que disfrutes del curso!</p>
                                                                
                                                                <p>Se despide cordialmente,</p>
                                                                <p style="margin-top: 30px;"><strong>Equipo docente de Sinapsis Clínica</strong></p>
                                                                <a target="_blank" href="https://www.sinapsisclinica.com/">www.sinapsisclinica.com</a>
                                                               
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="550" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <!-- <img style="display: block;" src="https://sinapsisclinica.com/wp-content/uploads/2023/09/Diseno-sin-titulo-1.png" width="550" height="80" alt="" class="CToWUd" data-bit="iit"> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                            </td>
                        </tr>